Matrix: 1
Delimiter: TAB
Name_Row_Number: 1
Name_Column_Number: 1
Read_TSV_Rows: 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
Read_TSV_Columns: 2,3,4,5,6
File: testing/tmp/FuncWriteMatrices1.tsv
DT_Character: 
DT_Factor: 
DT_Integer: 
DT_Logical: 
DT_Numeric: 2,3,4,5,6
DT_Ordered_Factor: 


Matrix: 2
Delimiter: TAB
Name_Row_Number: 1
Name_Column_Number: 1
Read_TSV_Rows: 2,3,4,5,6,7,8,9,10
Read_TSV_Columns: 2,3,4
File: testing/tmp/FuncWriteMatrices2.tsv
DT_Character: 
DT_Factor: 
DT_Integer: 
DT_Logical: 
DT_Numeric: 2,3,4
DT_Ordered_Factor: 


