Matrix: Matrix1
Delimiter: TAB
Read_TSV_Rows: -
Read_TSV_Columns: -
File: ../testing/input/TestMatrix.tsv

Matrix: Matrix2
Delimiter: TAB
Read_TSV_Rows: 2-4
Read_TSV_Columns: 2-4
File: ../testing/input/TestMatrix.tsv

Matrix: Matrix3
Delimiter: TAB
Read_TSV_Rows: 2-10
Read_TSV_Columns: 2,3,5
File: ../testing/input/TestMatrix.tsv
